.no-page-background{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-image: url("../../../../assets/photos/Cosmere.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:fixed;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.noPageCosmereMagic{
    max-width: 100%; 
    height: auto;
    margin: auto;
}