:root {
    --cardWidth: 700px; 
    --cardWidthGrid: 660px;
    --buttonWidth: 190px;
    --buttonHeight: 40px;
    --sweet20Padding: 0px 20px 0px 20px;
  }

.editable-entity-card-style{
    padding-right: 0px;
    padding-top:120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.editable-entity-card-wrapper{
    padding: 20px;
    margin-bottom: 20px;
    width: var(--cardWidth);
    border-radius: 5px;
    background-color:  var(--lightestGrey);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 1px 6px 10px 1px rgb(173, 173, 173);
}

.large-uneditable-section-editable-entity-card{
    width: var(--cardWidthGrid);
    color: rgb(71, 71, 71);
    background-color: var(--lightestGrey);
    padding: var(--sweet20Padding);
    font-size: 35px;
    font-family: fantasy;
    border: none;
    border-radius: 5px;
    resize: none;
    overflow: hidden;
    text-align: center;
    height: auto;
    min-height: 1em; 
    max-height: none; 
}
.large-uneditable-section-editable-entity-card:focus {
    outline:none;
}

.medium-editable-section-editable-entity-card-wrapper{
    width: 100%;
    padding: 5px;
}
.medium-editable-section-editable-entity-card{
    width: 100%;
    font-size: 20px;
    font-family: fantasy;
    
    color: rgb(71, 71, 71);
    background-color: var(--lightestGrey);
    border: none;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    resize: none;
    overflow: hidden;
    text-align: center;
}

.medium-editable-section-editable-entity-card:focus{
    outline: none;
}

.medium-editable-section-editable-entity-card.shadow{
    box-shadow: 0 2px 5px 0 rgb(173, 173, 173);
}


.small-editable-section-editable-entity-card-wrapper{
    width: 100%;
    padding: 5px;
}
.small-editable-section-editable-entity-card{
    width: 100%;
    font-size: 16px;
    font-family: inherit;
    color: rgb(71, 71, 71);
    background-color: var(--mediumGrey);
    border: none;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    resize: none;
    overflow: hidden;
    text-align: center;
}

.small-editable-section-editable-entity-card.shadow {
    box-shadow: 0 2px 5px 0 rgb(173, 173, 173);  
}

.small-editable-section-editable-entity-card:focus{
    outline: none;
    background-color: var(--darkerGrey);
}

.column-section-editable-entity-card{
    margin: 0 auto; 
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    column-gap:15px;
    width: var(--cardWidthGrid);
}

.circle-container {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    
}

.left-side{
    align-items:flex-end;

}

.right-side{
    align-items:flex-start;

}

.circle {
    
    border-radius: 50%; /* Make it a circle */
}

.big-circle {
    width: 280px; /* Larger size for the middle circle */
    height: 280px;
    margin-left: 35px;
    margin-right: 35px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 6px 10px 0px rgba(151, 151, 151, 0.75);
}

.left-side-circle{
    background-image: url("../../../../assets/photos/AssassinSquare.jpg");

}

.right-side-circle{
    background-image: url("../../../../assets/photos/AssassinSquareReversed.jpg");
    
}

.small-circle {
    width: 130px; 
    height: 130px;
    margin-left: 35px;
    margin-right: 35px; 
    box-shadow: 0px 4px 8px 0px rgba(151, 151, 151, 0.75);
}

.minuscule-circle {
    width: 40px; 
    height: 40px;
    margin-bottom: -20px;
    margin-top: -20px;
    box-shadow: 0px 4px 8px 0px rgba(151, 151, 151, 0.75);
    background-image: url("../../../../assets/photos/AssassinSquareReversed.jpg");
}

.left-side-small-circle{
    background-image: url("../../../../assets/photos/AssassinSquare.jpg");

}

.right-side-small-circle{
    background-image: url("../../../../assets/photos/AssassinSquareReversed.jpg");
    
}


.save-delete-discard-icons-wrapper{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-chapter-section{
    font-size: 40px;
    margin-left: 8px;
    margin-right: 8px;
}

.icon-chapter-section.disabled-chapter-icon{
    color: rgb(205, 205, 205);
}

.icon-chapter-section.chapter-save,
.icon-chapter-section.chapter-discard{
    color: rgb(211, 194, 141);
}

.icon-chapter-section.chapter-save:hover,
.icon-chapter-section.chapter-discard:hover{
    color: rgb(187, 164, 100);
}

.icon-chapter-section.chapter-delete{
    color: rgb(71, 71, 71);
}

.icon-chapter-section.chapter-delete:hover{
    color: rgb(47, 47, 47);
}

.icon-chapter-section.chapter-nav{
    font-size: 60px;
    color: rgb(211, 194, 141);
}

.icon-chapter-section.chapter-nav:hover{
    color: rgb(187, 164, 100);
}


.editable-chapter-card-insignia-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}