* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-image: url("../../../../src/assets/photos/Cosmere.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 20px 10px 20px;
    box-shadow: 0 4px 8px 0 rgb(173, 173, 173); 
    border-left: none;
    border-right: none;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none; 
    flex-wrap: none;
    align-items: center;
    justify-content: center;
}

.logo{
    flex: 1;
}

.cosmereLogo {
    font-size: 40px;
    font-weight: 700;
    color: rgb(211, 194, 141);
    font-family:fantasy;
}

.cosmereLogo:hover{
    color: white;
}

.user-profile{
    width: 300px;
    height: 30px;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.nav-bar-content{
}