.error-component-logo{
    width: 40px;
    height: 40px;
    margin: auto;
    background-image: url("../assets/photos/CosmereLogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}